<!DOCTYPE html>
<html>
    <head>
        <title>Trove</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/trove.png">
        <link rel="stylesheet" href="/css/screenstyle.css">
        <link rel="stylesheet" href="/css/board_screenstyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body style="background-image:url(/img/ocean.jpeg);">

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:20px">
            <a class="navbar-brand" href="/">
                <img src="/img/trove.png" width="30" height="30" style="display:inline">
                Trove
            </a>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle navbar-btn" type="button" id="username-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="username-dropdown-button">
                    <a class="dropdown-item" style="cursor:pointer;" onclick="navToUserProfilePage()">Edit Profile</a>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </div>
            </div>
            <button class="btn btn-info navbar-btn" type="button" onclick="navToBoardPage()">Job App Board</button>
            <button class="btn btn-info navbar-btn" type="button">To-Do List</button>
        </nav>


        <div class="container">
            <div class="row">

                <!-- Enlarged Job Application Container -->
                <div class="enlarged-job-application bg-dark" id="enlarged-job-application">
                    <button type="button" class="close enlarged-job-application-top-button" aria-label="Close" style="padding:5px;color:white;" onclick="hideEnlargedJobApplication()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <button type="button" class="close enlarged-job-application-top-button dropdown-toggle" id="enlarged-job-application-dropdown-button" style="padding:5px;color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="enlarged-job-application-dropdown-button">
                        <a class="dropdown-item text-danger" id="delete-job-application-btn" style="cursor:pointer;" onclick="deleteJobApplication(this)">Delete Job App</a>
                    </div>
                    <div class="jumbotron" style="background-color:#0b5291;">
                        <input id="enlarged-job-application-company-name" maxlength="30" autocomplete="off" onfocusout="determineIfEditsMade()"></input>
                        <input id="enlarged-job-application-job-title" maxlength="30" autocomplete="off" onfocusout="determineIfEditsMade()"></input>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <span>Date Applied: </span>
                            <input type="date" name="dateApplied" id="enlarged-job-application-date-applied" onchange="determineIfEditsMade()">
                        </div>
                        <div class="col-sm-5">
                            <span>Status: </span>
                            <select id="enlarged-job-application-status" onchange="updateStatusColor()">
                                <option value="Interested" style="color:rgb(253, 242, 181);">Interested</option>
                                <option value="Applied" style="color:rgb(168, 188, 253);">Applied</option>
                                <option value="Accepted" style="color:rgb(162, 247, 162);">Accepted</option>
                                <option value="Rejected" style="color:rgb(255, 164, 164);">Rejected</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-8 col-centered">
                            <textarea id="enlarged-job-application-notes" style="vertical-align:top;" rows="4" onfocusout="determineIfEditsMade()"></textarea>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" id="enlarged-job-application-ok-btn" onclick="hideEnlargedJobApplication()">OK</button>
                            <button class="btn btn-success" id="enlarged-job-application-save-changes-btn" onclick="updateJobApplication()">Save Changes</button>
                        </div>
                    </div>
                    <input id="original-company-name" hidden>
                    <input id="original-job-title" hidden>
                    <input id="original-date-applied" hidden>
                    <input id="original-status" hidden>
                    <input id="original-notes" hidden>
                </div>

                <!-- Four board columns -->
                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="interested-column"></ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="applied-column">
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box h-100">
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="accepted-column"></ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="rejected-column"></ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Important Hidden Info -->
        <input type="hidden" id="userID">
        <input type="hidden" id="current-open-form">

        <!-- Mustache Script Templates -->
        <script id="interested-list-template" type="text/html">
            <h4 class="header-title board-column-title">Interested</h4>
            {{#interestedList}}
            <div class="job-application-card" id="interested-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied"></p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/interestedList}}
            <div id="new-interested-job-application-btn" class="job-application-card new-job-application-btn" onclick="openNewJobApplicationForm(this)">Add Card +</div>
            <div class="job-application-card new-job-application-form-container" id="new-interested-job-application-form-container">
                <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-interested-job-application-form">
                    <input type="hidden" value="Interested" name="columnSelection">
                    <input type="text" placeholder="Enter Company Name" name="companyName" maxlength="30" autocomplete="off" required>
                    <input type="text" placeholder="Enter Job Title" name="jobTitle" maxlength="30" autocomplete="off" required>
                    <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                    <input type="hidden" name="dateApplied">
                    <input type="hidden" name="timeApplied">
                    <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </script>
        <script id="applied-list-template" type="text/html">
            <h4 class="header-title board-column-title">Applied</h4>
            {{#appliedList}}
            <div class="job-application-card" id="applied-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">{{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/appliedList}}
            <div id="new-applied-job-application-btn" class="job-application-card new-job-application-btn" onclick="openNewJobApplicationForm(this)">Add Card +</div>
            <div class="job-application-card new-job-application-form-container" id="new-applied-job-application-form-container">
                <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-applied-job-application-form">
                    <input type="hidden" value="Applied" name="columnSelection">
                    <input type="text" placeholder="Enter Company Name" name="companyName" maxlength="30" autocomplete="off" required>
                    <input type="text" placeholder="Enter Job Title" name="jobTitle" maxlength="30" autocomplete="off" required>
                    <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                    Date Applied<input type="date" name="dateApplied">
                    <input type="hidden" name="timeApplied">
                    <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </script>
        <script id="accepted-list-template" type="text/html">
            <h4 class="header-title board-column-title">Accepted</h4>
            {{#acceptedList}}
            <div class="job-application-card" id="accepted-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">{{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/acceptedList}}
            <div id="new-accepted-job-application-btn" class="job-application-card new-job-application-btn" onclick="openNewJobApplicationForm(this)">Add Card +</div>
            <div class="job-application-card new-job-application-form-container" id="new-accepted-job-application-form-container">
                <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-accepted-job-application-form">
                    <input type="hidden" value="Accepted" name="columnSelection">
                    <input type="text" placeholder="Enter Company Name" name="companyName" maxlength="30" autocomplete="off" required>
                    <input type="text" placeholder="Enter Job Title" name="jobTitle" maxlength="30" autocomplete="off" required>
                    <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                    Date Applied<input type="date" name="dateApplied">
                    <input type="hidden" name="timeApplied">
                    <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </script>
        <script id="rejected-list-template" type="text/html">
            <h4 class="header-title board-column-title">Rejected</h4>
            {{#rejectedList}}
            <div class="job-application-card" id="rejected-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">{{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/rejectedList}}
            <div id="new-rejected-job-application-btn" class="job-application-card new-job-application-btn" onclick="openNewJobApplicationForm(this)">Add Card +</div>
            <div class="job-application-card new-job-application-form-container" id="new-rejected-job-application-form-container">
                <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-rejected-job-application-form">
                    <input type="hidden" value="Rejected" name="columnSelection">
                    <input type="text" placeholder="Enter Company Name" name="companyName" maxlength="30" autocomplete="off" required>
                    <input type="text" placeholder="Enter Job Title" name="jobTitle" maxlength="30" autocomplete="off" required>
                    <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                    Date Applied<input type="date" name="dateApplied">
                    <input type="hidden" name="timeApplied">
                    <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
                var username = "<%= username %>";
                var userID = "<%= userID %>";
                var imagePath = "<%= imagePath %>";
                $("#username-dropdown-button").html(username);
                $('#userID').val(userID);
        </script>
        <script src="../js/board.js"></script>
    </body>
</html>
