<!DOCTYPE html>
<html>
    <head>
        <title>Trove</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/trove.png">
        <link rel="stylesheet" href="/css/screenstyle.css">
        <link rel="stylesheet" href="/css/board_screenstyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body style="background-color:rgb(220, 220, 220);">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:20px">
            <a class="navbar-brand" href="/">
                <img src="/img/trove.png" width="30" height="30" style="display:inline">
                Trove
            </a>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle navbar-btn" type="button" id="username-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="username-dropdown-button">
                    <a class="dropdown-item" style="cursor:pointer;" onclick="navToUserProfilePage()">Edit Profile</a>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </div>
            </div>
            <button class="btn btn-info navbar-btn" type="button" onclick="navToBoardPage()">Job App Board</button>
            <button class="btn btn-info navbar-btn" type="button">To-Do List</button>
        </nav>


        <div class="container">
            <div class="bad-job-application-popup" id="bad-job-application-popup">
                <p class="bad-job-application-message" id="bad-job-application-message"></p>
                <button type="button" class="bad-job-application-btn" onclick="hideSubmissionErrorPopup()">OK</button>
            </div>

            <div class="delete-job-application-popup" id="delete-job-application-popup">
                <p>Are you sure you want to delete this job application?</p>
                <button type="button" class="delete-job-application-btn-yes" id="delete-job-application-btn-yes" onclick="deleteJobApplication(this)">Yes</button>
                <button type="button" class="delete-job-application-btn-no" onclick="hideJobApplicationDeletionPopup()">No</button>
            </div>
        
            <div class="row">

                <div class="enlarged-job-application" id="enlarged-job-application">
                    <h5 id="enlarged-job-application-title"></h5>
                    <p id="enlarged-job-application-date-applied"></hp>
                    <p id="enlarged-job-application-notes"></p>
                    <button type="button" class="delete-job-application-btn" onclick="showJobApplicationDeletionPopup(this)">Delete</button>
                    <button type="button" class="hide-enlarged-job-application-btn" onclick="hideEnlargedJobApplication(this)">Hide</button>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <h4 class="text-dark header-title">Interested</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="interested-column"></ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <h4 class="text-dark header-title">Applied</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="applied-column">
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box h-100">
                        <h4 class="text-dark header-title">Accepted</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="accepted-column"></ul>
                    </div>
                </div>

                <div class="col-sm-3" ondragover="onDragOver(event)" ondrop="onDrop(event)">
                    <div class="card-box">
                        <h4 class="text-dark header-title">Rejected</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable board-column" id="rejected-column"></ul>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="userID">
        <input type="hidden" id="current-open-form">

        <script id="interested-list-template" type="text/html">
            {{#interestedList}}
            <div class="job-application-card" id="interested-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied"></p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/interestedList}}
            <button id="new-interested-job-application-btn" class="new-job-application-btn" onclick="openNewJobApplicationForm(this)">New</button>
            <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-interested-job-application-form">
                <input type="hidden" value="Interested" name="columnSelection" id="columnSelection">
                <input type="text" placeholder="Enter Company Name" name="companyName" autocomplete="off" required>
                <input type="text" placeholder="Enter Job Title" name="jobTitle" autocomplete="off" required>
                <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                <input type="hidden" name="dateApplied">
                <input type="hidden" name="timeApplied">
                <input type="hidden" name="userID" id="userID" required>
                <button type="submit" class="btn">Create</button>
                <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
            </form>
        </script>
        <script id="applied-list-template" type="text/html">
            {{#appliedList}}
            <div class="job-application-card" id="applied-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">Applied: {{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/appliedList}}
            <button id="new-applied-job-application-btn" class="new-job-application-btn" onclick="openNewJobApplicationForm(this)">New</button>
            <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-applied-job-application-form">
                <input type="hidden" value="Applied" name="columnSelection" id="columnSelection">
                <input type="text" placeholder="Enter Company Name" name="companyName" autocomplete="off" required>
                <input type="text" placeholder="Enter Job Title" name="jobTitle" autocomplete="off" required>
                <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                Date Applied<input type="date" name="dateApplied">
                <input type="hidden" name="timeApplied">
                <input type="hidden" name="userID" id="userID" required>
                <button type="submit" class="btn">Create</button>
                <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
            </form>
        </script>
        <script id="accepted-list-template" type="text/html">
            {{#acceptedList}}
            <div class="job-application-card" id="accepted-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">Applied: {{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/acceptedList}}
            <button id="new-accepted-job-application-btn" class="new-job-application-btn" onclick="openNewJobApplicationForm(this)">New</button>
            <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-accepted-job-application-form">
                <input type="hidden" value="Accepted" name="columnSelection" id="columnSelection">
                <input type="text" placeholder="Enter Company Name" name="companyName" autocomplete="off" required>
                <input type="text" placeholder="Enter Job Title" name="jobTitle" autocomplete="off" required>
                <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                Date Applied<input type="date" name="dateApplied">
                <input type="hidden" name="timeApplied">
                <input type="hidden" name="userID" id="userID" required>
                <button type="submit" class="btn">Create</button>
                <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
            </form>
        </script>
        <script id="rejected-list-template" type="text/html">
            {{#rejectedList}}
            <div class="job-application-card" id="rejected-job-application" draggable="true" ondragstart="onDragStart(event)" onclick="enlargeJobApplication(this)">
                <div class="job-application-card-body">
                    <p class="card-company-name">{{CompanyName}}</p>
                    <p class="card-job-title">{{JobTitle}}</p>
                    <p class="card-date-applied">Applied: {{DateApplied}}</p>
                    <p class="card-notes" hidden>{{Notes}}</p>
                    <p hidden>{{ID}}</p>
                </div>
            </div>
            {{/rejectedList}}
            <button id="new-rejected-job-application-btn" class="new-job-application-btn" onclick="openNewJobApplicationForm(this)">New</button>
            <form action="javascript:validateNewJobApplication()" class="new-job-application-form" id="new-rejected-job-application-form">
                <input type="hidden" value="Rejected" name="columnSelection" id="columnSelection">
                <input type="text" placeholder="Enter Company Name" name="companyName" autocomplete="off" required>
                <input type="text" placeholder="Enter Job Title" name="jobTitle" autocomplete="off" required>
                <textarea class="notes" maxlength="255" rows="2" placeholder="Notes"></textarea>
                Date Applied<input type="date" name="dateApplied">
                <input type="hidden" name="timeApplied">
                <input type="hidden" name="userID" id="userID" required>
                <button type="submit" class="btn">Create</button>
                <button type="button" class="btn cancel" onclick="closeNewJobApplicationForm(this)">Cancel</button>
            </form>
        </script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
                var username = "<%= username %>";
                var userID = "<%= userID %>";
                var imagePath = "<%= imagePath %>";
                $("#username-dropdown-button").html(username);
                $('#userID').val(userID);
        </script>
        <script src="../js/board.js"></script>
    </body>
</html>
