<!DOCTYPE html>
<html>
    <head>
        <title>Trove</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/screenstyle.css">
    </head>
    <body>
        <div class="login-form">
			<h1>Create Trove account</h1>
			<form action="insertUser" method="POST">
				<input type="text" name="username" placeholder="Username" minlength="2" maxlength="16" required>
                <input type="password" name="password" placeholder="Password" minlength="2" maxlength="20" required>
                <input type="email" name="email" placeholder="Email address" required>
				<input type="submit">
			</form>
        </div>
        <a href="/">Already have an account?  Log in</a>
        <h2 class="accountCreationMessage">First</h2>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="js/createAccount.js"></script>
    </body>
</html>

