<!DOCTYPE html>
<html>
    <head>
        <title>Trove</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/trove.png">
        <link rel="stylesheet" href="/css/screenstyle.css">
        <link rel="stylesheet" href="/css/home_screenstyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="home-container">
            <div class="home-left-div">
                <img src="/img/trove.png" alt="logo" class="home-logo">
                <h1 style="color:rgb(235, 200, 6);">
                    Helping make the world a better place
                </h1>
            </div>

            <div class="home-right-div">
                <h3>Existing user?</h3>
                <button id="open-login-form-btn" onclick="openLoginFormPopup(this)">Log In</button>
                <h3>New to Trove?</h3>
                <button id="open-create-account-form-btn" onclick="openLoginFormPopup(this)">Create Account</button>
                <div class="login-form-popup" id="login-form-popup">
                    <form action="javascript:validateLogin()" class="login-form">
                        <h3>Sign In</h3>
                        <input type="text" name="login-username" placeholder="Username" maxlength="16" minlength="2" autocomplete="off" required>
                        <input type="password" name="login-password" placeholder="Password" maxlength="20" minlength="2" autocomplete="off" required>
                        <input type="submit" value="Sign In">
                        <button type="button" onclick="closeLoginFormPopup()">Cancel</button>
                        <h3 id="login-message"></h3>
                    </form>
                    <form action="javascript:createAccount()" class="create-account-form">
                        <h3>Create Trove Account</h3>
                        <input type="text" name="create-account-username" placeholder="Username" minlength="2" maxlength="16" autocomplete="off" required>
                        <input type="password" name="create-account-password" placeholder="Password" minlength="2" maxlength="20" autocomplete="off" required>
                        <input type="text" name="create-account-first-name" placeholder="First name" minlength="1" maxlength="20" autocomplete="off" required>
                        <input type="text" name="create-account-last-name" placeholder="Last name" minlength="1" maxlength="20" autocomplete="off" required>
                        <input type="email" name="create-account-email" placeholder="Email address" maxlength="30" autocomplete="off" required>
                        <input type="submit" value="Create">
                        <button type="button" onclick="closeLoginFormPopup()">Cancel</button>
                        <h3 id="create-account-message"></h3>
                    </form>
                </div>
                <div class="create-account-form-popup" id="create-account-form-popup">
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="js/home.js"></script>
    </body>
</html>