<!DOCTYPE html>
<html>
    <head>
        <title>Trove</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/screenstyle.css">
    </head>
    <body>
        <div class="login-form">
			<h1>Welcome to Trove</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
        
        <script src="js/login.js"></script>
    </body>
</html>
