
.card-box {
    height: 100vh;
    text-align: center;
}

.board-column {
    border: 2px solid black;
    height: 85%;
    text-align: center;
    overflow: scroll;
}

#interested-column {
    background-color: rgb(253, 242, 181);
}

#applied-column {
    background-color: rgb(168, 188, 253);
}

#interviewing-column {
    background-color: rgb(162, 247, 162);
}

#rejected-column {
    background-color: rgb(255, 164, 164);
}

.job-application-card {
    width: 100%;
    margin: 3px 0px 3px 0px;
    color: black;
    background-color: #fff;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    opacity: 85%;
}

.job-application-card:hover {
    opacity: 100%;
}

.board-column-title {
    width: 100%;
    margin: 3px 0px 3px 0px;
    background-color: rgb(41, 43, 44);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.job-application-card-body {
    margin: 0px 0px 0px 0px;
}

.job-application-card-body p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.card-company-name {
    font-size: 12pt;
}

.card-job-title {
    font-size: 10pt;
}

.card-date-applied {
    font-size: 8pt;
}

.card-notes {
    font-size: 7pt;
}

.enlarged-job-application {
    display: none;
    position: absolute;
    top: 25%;
    left: 28%;
    right: 28%;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    z-index: 10;
    font-size: 12pt;
}

.card-header {
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    border-radius: 20px;
    text-align: center;
}

#enlarged-job-application-company-name {
    background-color: #0b5291;
    color: white;
    outline: none;
    border: 1px solid #0b5291;
    border-radius: 20px;
    text-align: center;
    font-size: 20pt;
    width: 75%;
    cursor: pointer;
}

#enlarged-job-application-company-name:hover {
    border: 1px solid white;
    border-radius: 20px;
}

#enlarged-job-application-company-name:focus {
    background-color: #14a2ce;
    border: 1px solid white;
    border-radius: 20px;
    cursor: text;
}

#enlarged-job-application-job-title {
    background-color: #0b5291;
    color: white;
    outline: none;
    border: 1px solid #0b5291;
    border-radius: 20px;
    text-align: center;
    font-size: 18pt;
    width: 75%;
    cursor: pointer;
}

#enlarged-job-application-job-title:hover {
    border: 1px solid white;
    border-radius: 20px;
}

#enlarged-job-application-job-title:focus {
    background-color: #14a2ce;
    border: 1px solid white;
    border-radius: 20px;
    cursor: text;
}

#enlarged-job-application-date-applied {
    outline: none;
    background-color: transparent;
    color: white;
    padding: 7px;
    cursor: text;
    width: 60%;
    left: 20%;
    right: 20%;
    border: 1px solid transparent;
    text-align: right;
    cursor: pointer;
}

#enlarged-job-application-date-applied:hover {
    border: 1px solid white;
    border-radius: 20px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

#enlarged-job-application-status {
    outline: none;
    background-color: transparent;
    padding: 7px;
    border: 1px solid transparent;
    cursor: pointer;
}

#enlarged-job-application-status:hover {
    border: 1px solid white;
    border-radius: 20px;
}

#enlarged-job-application-notes {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    color: white;
    background-color: rgb(39, 39, 39);
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    resize: none;
    cursor: pointer;
}

#enlarged-job-application-notes:focus {
    cursor: text;
}

#enlarged-job-application-save-changes-btn {
    display: none;
}

/* Button used to open the Create New Job form - fixed at the bottom of the page */
.new-job-application-btn {
    float: bottom;
}


.new-job-application-form-container {
    display: none;
    width: 100%;
}

.new-job-application-form {
    font-size: 8pt;
    cursor: default;
  }


/* Full-width input fields */
.new-job-application-form input[type=text] {
  width: 90%;
  margin: 3px 0px 3px 0px;
  border: none;
  background-color: #f1f1f1;
}

.new-job-application-form .notes {
    width: 90%;
    margin: 3px 0px 3px 0px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
}

.new-job-application-form input[type=date] {
    width: 50%;
    margin: 3px 0px 3px 15px;
    border: none;
    background-color: #f1f1f1;
}

/* When the inputs get focus, do something */
.new-job-application-form input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the create job app button */
.new-job-application-form .btn {
    font-size: 8pt;
    padding: 2px;
    margin: 3px 0px 3px 0px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
    border-radius: 20px;
}

.new-job-application-form .btn:hover {
    opacity: 1;
}

/* Add a red background color to the cancel button */
.new-job-application-form .cancel {
  background-color: red;
}


.bad-job-application-popup {
    display: none;
    position: fixed;
    max-width: 100px;
    border: 2px solid red;
    background: #c74242;
    z-index: 10;
    text-align: center;
}

.bad-job-application-popup .bad-job-application-btn {
    background-color: #4CAF50;
    color: white;
    width: 50%;
}

.bad-job-application-popup .bad-job-application-message {
    font-size: 10pt;
    color: white;
}
