
.card-box {
    height: 100vh;
    text-align: center;
}

.board-column {
    border: 2px solid black;
    height: 100%;
    text-align: center;
}

#interested-column {
    background-color: rgb(253, 242, 181);
}

#applied-column {
    background-color: rgb(168, 188, 253);
}

#accepted-column {
    background-color: rgb(162, 247, 162);
}

#rejected-column {
    background-color: rgb(255, 164, 164);
}

.job-application-card {
    width: 100%;
    margin: 3px 0px 3px 0px;
    color: black;
    background-color: #fff;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    opacity: 85%;
}

.card-job-title {
    font-size: 8pt;
    padding: 0px;
}

.card-date-applied {
    font-size: 7pt;
    padding: 0px;
}

.card-notes {
    font-size: 7pt;
    padding: 0px;
}

.enlarged-job-application {
    display: none;
    position: fixed;
    width: 250px;
    border: 2px solid white;
    color: black;
    text-align: center;
    z-index: 10;
    font-size: 12pt;
}

.delete-job-application-btn {
    float: right;
    margin-right: 10px;
    color: white;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.delete-job-application-popup {
    display: none;
    position: fixed;
    max-width: 100px;
    border: 2px solid red;
    background: #c74242;
    z-index: 10;
    text-align: center;
    z-index: 11;
}

/* Button used to open the Create New Job form - fixed at the bottom of the page */
.new-job-application-btn {
    float: bottom;
    background-color: #555;
    color: white;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px 0px 3px 0px;
}


/* New job application - hidden by default */
.new-job-application-form {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  font-size: 8pt;
}

#new-interested-job-application-form {
    background-color: rgb(253, 242, 181);
}

#new-applied-job-application-form {
    background-color: rgb(168, 188, 253);
}

#new-accepted-job-application-form {
    background-color: rgb(162, 247, 162);
}

#new-rejected-job-application-form {
    background-color: rgb(255, 164, 164);
}

/* Full-width input fields */
.new-job-application-form input[type=text] {
  width: 90%;
  margin: 3px 0px 3px 0px;
  border: none;
  background-color: #f1f1f1;
}

.new-job-application-form .notes {
    width: 90%;
    margin: 3px 0px 3px 0px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
}

.new-job-application-form input[type=date] {
    width: 50%;
    margin: 3px 0px 3px 15px;
    border: none;
    background-color: #f1f1f1;
}

/* When the inputs get focus, do something */
.new-job-application-form input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the create job app button */
.new-job-application-form .btn {
    font-size: 8pt;
    padding: 2px;
    margin: 3px 0px 3px 0px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
    border-radius: 20px;
}

.new-job-application-form .btn:hover {
    opacity: 1;
}

/* Add a red background color to the cancel button */
.new-job-application-form .cancel {
  background-color: red;
}


.bad-job-application-popup {
    display: none;
    position: fixed;
    max-width: 100px;
    border: 2px solid red;
    background: #c74242;
    z-index: 10;
    text-align: center;
}

.bad-job-application-popup .bad-job-application-btn {
    background-color: #4CAF50;
    color: white;
    width: 50%;
}

.bad-job-application-popup .bad-job-application-message {
    font-size: 10pt;
    color: white;
}
