
.home-logo {
    width: 35%;
    height: 35%;
    margin-top: 20%;
}

.login-form-popup {
    display: none;
    position: fixed;
    left: 60%;
    top: 5%;
}

.login-form {
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 25;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
    text-align: center;
}
.login-form h1 {
    text-align: center;
    color: #323aa8;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: green;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login-form button {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    background-color: red;
    cursor: pointer;
    color: white;
}

.create-account-form {
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 25%;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
    display: none;
    text-align: center;
}
.create-account-form h1 {
    text-align: center;
    color: #323aa8;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.create-account-form input[type="password"],
.create-account-form input[type="text"],
.create-account-form input[type="email"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    box-sizing:border-box;
}
.create-account-form input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: green;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.create-account-form button {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    background-color: red;
    cursor: pointer;
    color: white;
}

