
body {
    color: rgb(194, 194, 194);
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


.navbar-btn {
    margin-left: 10px;
}

.btn:focus {
    color: #fff;
}

.dropdown-menu {
    border: 1px solid black;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


