
body {
    font-family: Arial, Helvetica;
    font-size: 14pt;
    margin: 3em;
    color: white;
    background: rgb(114, 114, 194);
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}


.loginForm {
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid white;
    text-align: center;
}

.errorMessage {
    font-size: 10pt;
    font-weight: bold;
    color: #ff471a;
}